.bg{
    background-color: #2F4454;
}
.footer{
    background-color: #343a40;
    padding: 10px;

}
.nav{
    background-color: #1F2833;
    
}
.text{
    color: white;
}
.figure {
    width: 300px;
}
.image {
    width : 300px;
}
.h2 {
    padding: 30px;
    color: white;
}
.btn{
    margin: 5px;
    background-color : #DF4E8D;
    border-radius: 15px;
}